# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Flutterwave Configuration
FLW_SECRET_KEY=
FLW_SECRET_HASH=

# VAPID Keys for Push Notifications
VAPID_PUBLIC_KEY=BHPoCpbFGBbD4uJ1SxIqVLg0Z1bGOKu_Z6huSrBlI7Z_c3MhvGI_BzaucmyeVRvUv0IBV2vWY_m5wkGSwFZn6ZY
VAPID_PRIVATE_KEY=6lEE3qVWJ8f76DFEIcZFNG0JaAuyxBoYaQhPx8jKuCQ
