# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Flutterwave Configuration
FLW_SECRET_KEY=
FLW_SECRET_HASH=

# VAPID Keys for Push Notifications
VAPID_PUBLIC_KEY=BNXaRBoJG5YPTZWHflOPkYmuOTcyX3g0IeLX7bJn6KIbkO_H6qs_6WMIPjp3iLNnhkEms4uTQwO1BI7CIIb8H0g
VAPID_PRIVATE_KEY=hJ4w5pS8YyWlalmdtRjsZE8v9oPJLWTNeUSazpA-6bs
