# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Flutterwave Configuration
FLW_SECRET_KEY=
FLW_SECRET_HASH=

# VAPID Keys for Push Notifications
VAPID_PUBLIC_KEY=BPG4lkECd-HiF4W8WPANEjk6QswjHOFk4fnvdTceYYu_L4ORxw7PogMDAqANoL1DnPM0L27zEpqM6Zokn7ZJhdc
VAPID_PRIVATE_KEY=qP_xSYSgk0QqbBfgSqxuHsj3zeqWYnihR5ATHKtBw3Y
